body {
	margin: 0;
	width: 100vw;
	height: 100vh;
	background-color: #000;
	color: #fff;
	overflow: hidden;
}

h2 {
	position: absolute;
	top: 15vh;
	width: 100vw;
	text-align: center;
	font-size: 48px;
	font-weight: normal;
}

div.content {
	position: absolute;
	top: 50vh;
	width: 100vw;
	height: 10em;
	align-items: center;
	justify-content: space-around;
	display: flex;
	background-color: #445877;
}

figure.contentfig {
	margin: 0;
	text-align: center;
}


figure.contentfig img {
	max-height: 5em;
	max-width: 5em;
	z-index: 3;
}

a.contentlink, a.contentlink:visited {
	text-decoration: none;
	color: #fff;
}
